/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #000000; /* Vermelho escuro */
}

h2 {
    font-size: 2rem;
    margin: 20px 0;
    text-align: center;
    color: #000000; /* Azul */
}

h4 {
    font-size: 1.5rem;
    margin: 15px 0 10px;
    color: #ff0000; /* Roxo */
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.col-md-6 {
    flex: 1;
    padding: 0 10px;
}

canvas {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#biografias {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#biografias h4 {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #757474;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-md-6 {
        margin-bottom: 20px;
    }
}
